<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nhà sách Nhã Nam</title>
</head>
<body>
  <h1>Xin chào đén với nhà sách Nhã Nam</h1>
    <div th:if="${e} == username">
        <p >Xin chào <label th:text="${username}"></label></p>
        <form method="post" th:action="@{/logout}">
            <input type="submit" value="Đăng xuất">
        </form>
    </div>
    <div th:if="${e} == null">
        <p ><a th:href="@{/login}">Đăng nhập</a></p>
        <a th:href="@{/register}">Đăng kí</a>
    </div>
    <table>
        <tr>
            <th>Ten</th>
            <th>Giá</th>
            <th>Mô tả</th>
        </tr>
        <tr th:each = "product : ${products}">
            <td th:text="${product.productName}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.desc}"></td>
            <td><a th:href="@{/add-to-card/{id}(id = ${product.id})}">Thêm vào giỏ</a></td>
        </tr>

    </table>
</body>
</html>